<html>
{% block header %}
<body>
    <h1>Add Art Opera</h1>
    <form action="{{link}}" method="post">
        <input type="text" name="title" placeholder="title" value=""><br>
        <input type="text" name="short_description" placeholder="short description" value=""><br>
        <input type="text" name="description" placeholder="description" value=""><br>
        <input type="text" name="creation_date" placeholder="creation date" value=""><br>
        <input type="submit" value="Save">
    </form>
    <footer class="footer">
            
        <div class="footerContent">
                <p>AAA - Avanguardia Artistica Accessibile &amp; <span lang="en">All rights reserved</span></p>
                <ul class="no-bullets">
                    <li><span lang="en">Email: </span><a href="mailto:infoAAA@gmail.com">infoAAA@gmail.com</a></li>
                    <li><span lang="en"><a href="" title="Privacy Policy">Privacy Policy</a></span> GNU</li> 
                 </ul>   


        </div>  
    </footer> 
</body>
</html>