<html>
{% block header %}
<body>
    <h1>Artists List</h1>
    {% foreach artists as artist %}
        <p>{{artist->alias}} / {{artist->contact_mail}}</p>
    {% endforeach %}
    <footer class="footer">
            
        <div class="footerContent">
                <p>AAA - Avanguardia Artistica Accessibile &amp; <span lang="en">All rights reserved</span></p>
                <ul class="no-bullets">
                    <li><span lang="en">Email: </span><a href="mailto:infoAAA@gmail.com">infoAAA@gmail.com</a></li>
                    <li><span lang="en"><a href="" title="Privacy Policy">Privacy Policy</a></span> GNU</li> 
                 </ul>   


        </div>  
    </footer> 
</body>
</html>