/* Mini CSS for Mobile Devices with screen width below 600px */
@media only screen and (max-width: 600px) {
    body {
        background-color: #defeca;
        font-family: 'Raleway', sans-serif;
    }
 
    #container {
        width: 90%; 
        margin: 10% auto; 
    }
 
    #container > nav {
        display: block; 
        max-height: none; 
    }
 
    #content {
        width: 90%; 
    }
 
    #logo {
        font-size: 24px; 
        padding: 0 20px; 
        width: 100%; 
        text-align: center; 
    }
 
    #container > nav > ul {
        flex-direction: column; 
        position: static; 
        padding: 0; 
        right: 0; 
    }
 
    #container > nav > ul > li {
        width: 100%; 
        text-align: left; 
    }
 
    #container > nav > ul > li > a {
        padding: 10px; 
        
    }
 
    #breadcrumb, #breadcrumb p {
        width: 90%; 
        margin: 10px auto; 
    }
 
   
 
    .footerContent {
        width: 100%; 
    }
 
    .opere {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 2em 2em 2em;  
    }

    .opere p{
        display: none;
    }

    .opere li {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    
     .opere li > img {
        height: 450px;
        width: auto;
        object-fit: contain; /* non taglia le immagini */
     }
    
     .opere h2 {
        color: chocolate;
     }
    }
 
    a:focus {
        outline: 2px solid #000; /* per accessibilità */
    }

    #artisti li {
        width: 100%;
        padding: 1.0em;
      }
      
      .card {
        width: 100%;
        margin: 0.5em;
        margin-bottom: 5em;
      }
      
      .card-body {
        max-height: none;
        overflow: visible;
      }
      
      .footerContent {
        width: 100%;
      }

      /* HOME */
      .homecontent{
        width: 80%;
      }

      .immaginecarosello{
        width: 100%;
        border-radius: 0em;
        -webkit-border-radius:0em; /* Safari & Chrome */
        -moz-border-radius:0em; /* Firefox */
      }

      .contenitorebottonicar{
        width: 100%;
      }