/* Mini CSS for Mobile Devices with screen width below 600px */
@media only screen and (max-width: 600px) {
  body {
      background-color: #defeca;
      font-family: 'Raleway', sans-serif;
  }

  #container {
      display: fl;
      width: 90%; 
      margin: 10% auto; 
  }

  #container > nav {
      display: block; 
      max-height: none; 
  }

  #content {
      width: 90%; 
  }

  #logo {
      font-size: 24px; 
      padding: 0 20px; 
      width: 100%; 
      text-align: center; 
  }

  #container > nav > ul {
      display: none;
  }
  
  #container > nav > ul {
      flex-direction: column; 
      position: static; 
      padding: 0; 
      right: 0; 
  }

  #container > nav > ul > li {
      width: 100%; 
      text-align: left; 
  }

  #container > nav > ul > li > a {
      padding: 10px; 
      
  }

  #breadcrumb, #breadcrumb p {
    display: flex;
      width: 90%; 
      margin: 10px auto; 
  }

 
  

  .footerContent {
    border-top: 1px solid black;
    width: 100%; 
  }

  .opere {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1em 2em 2em 2em;  
  }

  .opere p{
      display: none;
  }

  .opere li {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
  
   .opere li > img {
      height: 450px;
      width: auto;
      object-fit: contain; /* non taglia le immagini */
   }
  
   .opere h2 {
      color: chocolate;
   }
  }

  a:focus {
      outline: 2px solid #000; /* per accessibilità */
  }

  #artisti li {
      width: 100%;
      padding: 1.0em;
    }
    
    .card {
      width: 100%;
      margin: 0.5em;
      margin-bottom: 5em;
    }
    
    .card-body {
      max-height: none;
      overflow: visible;
    }
    
    .footerContent {
      width: 100%;
    }

    /* HOME */
    .homecontent{
      width: 80%;
    }

    .immaginecarosello{
      width: 100%;
      border-radius: 0em;
      -webkit-border-radius:0em; /* Safari & Chrome */
      -moz-border-radius:0em; /* Firefox */
    }

    .contenitorebottonicar{
      width: 100%;
    }

/*   test menu mobile*/

a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-size: 1em;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}



.containerMini {
  margin-top: 50px; 
  Display: flex;
  justify-content: center;
  align-items: center;
}

.contentino {
  border: 1px solid #36383F;
  border-radius: 20px;
  width: 94%;
  height: 91%;
  background-color: #1E1E23;
  overflow: hidden;
}
nav {
  
  background-color: #1E1E23;
  height:auto;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: sticky;
  bottom: 0;  
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}

/* Style the links inside the navigation bar */
.navbar li {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar li a {
  color: white;
}

/* Change the color of links on hover */
.navbar li:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active */
#selectedMini {
  background-color: orange;
  color: white;
}

/* account */

#sezioneaccount {
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  align-self: center;
  max-width: 1024px;
  text-align: left;
  margin: 1em 0 3em 2em;
}

#delete-account-button {
  background-color: #C20000;
  color: white;
  margin-top: 2em;
  margin-right: 1em;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.account_data_section{
  justify-content: center;
}

#opere_artista_section{
  justify-content: center;
}

#new_opera_section{
  margin: 0;
  display: flex;
  justify-content: center;
}

/* new opera */ 
#text_data_opera > div{
  width: 90%;
}



