@page{
  size: A4;
  margin: 1cm;
}

*,
*:before,
*:after {
  color: black ;
  background: white ;
  box-shadow: none ;
  text-shadow: none ;
  margin:0;
  padding:0;
}

body {
  background-color: #fff ;
  color: black ;
  font-family: Arial, sans-serif ;
  font-size: 16px ;
  line-height: 1.6 ;
  margin: 0 ;
  padding: 0 ;
}

a {
  text-decoration: underline ;
} 

.logsection, #container, .skip-link, .bottonetop, .navbar, .add_to_fav{
  display: none;
}

header h1{
  background-image: url("../immagini/logo.png");
  display: none;

}

.car{
  width: 100%;
  margin: 3em auto;
  display: flex;
  justify-content: center;
  height: 350px;
  position:relative /*per mettere le immagini in stack*/
}

.immaginecarosello{
  object-fit: cover;
  position:absolute; /*per mettere le immagini in stack*/
  border-radius: 2em;
  -webkit-border-radius:2em; /* Safari & Chrome */
  -moz-border-radius:2em; /* Firefox */
  width: 700px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.nascosto{
  visibility: hidden;
}

.visibile{
  visibility: visible;
}

#breadcrumb{
  margin-top: auto;
  display:block;
}


.mininavbar{
  display: none;
}


footer {
  border-top: 1px solid rgb(0, 0, 0); /* Adjust color for print */
  padding-top: 2em;
  width: 100%; /* Full width for print */
  margin: 0; /* Remove margins for print */
  text-align: center;
  position: static;
  max-height: none; /* Reset max-height for print */
  color: #000; /* Adjust text color for print */
}

footer a {
  color: #000; /* Adjust link color for print */
  text-decoration: underline;
  vertical-align: bottom;
}

footer a:visited {
  color: #000; /* Adjust visited link color for print */
}
/* Galleria  */


/* ARTISTI */

#artisti {
  list-style-type: none;
  text-align: center;
  padding-top: 2.0em;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
}

#artisti li {
  display: inline-block;
  width: 25%;
  aspect-ratio: 1/1;
  padding: 2.0em;
}

#artisti li a {
  display: block;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1; 
}

.card {
  page-break-inside: avoid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  border-radius: 5px;
  border: 1px solid #000000;
  margin: 10px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.card-body {
  position: relative;
  padding: 0.4em;
  overflow: hidden;
}

.card-body h2 {
  color: black;
  white-space: nowrap;

}

.card-body p {
  color: black;
}

.artist-container {
  margin: auto;
  width: 95%;
  max-width: 1024px;
  padding-top: 1em;
  padding-bottom: 2em;
}

.artist-container > dt {
  padding: 0.5em;
  font-size: 1.1em;
}

.artist-container > dd {
  display: flex;
  border-top: none;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid rgb(255, 255, 255);
}

.artist-container > dd img {
  max-width: 300px; 
  max-height: 300px; 
  width: auto;
  height: auto;
  float: left;
  margin-right: 1em;
  border: 1px solid rgb(255, 255, 255); 
}

.artist-container > dd:first-of-type {
  border: none;
}

.artist-container > dd:last-of-type {
  border: none;
}

#artist-image {
  max-width: 300px;
  height: auto; 
  border-radius: 5%;
  margin-right: 2em; 
}

.artist-info {
  width: 60%;
}
/*artist-info */
.artist-info h3,
.artist-info p,
.artist-description p {
  margin-bottom: 0.4em;
}

ul.artist-works {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 1em;
  list-style-type: none;
}

.artist-works li {
  display: inline-block;
  width: 25%;
  padding: 1em;
}

.artist-works li a {
  display: block;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1; /* Added aspect ratio */
}
