*,
*:before,
*:after {
  color: black ;
  background: white ;
  box-shadow: none ;
  text-shadow: none ;
  margin:0;
  padding:0;
}

body {
  background-color: white ;
  color: black ;
  font-family: Arial, sans-serif ;
  font-size: 16px ;
  line-height: 1.6 ;
  margin: 0 ;
  padding: 0 ;
}

a {
  text-decoration: underline ;
} 

.logsection, #container, .skip-link{
  display: none;
}

header h1{
  background-image: url("../immagini/logo.png");
  display: none;

}

.car{
  width: 100%;
  margin: 3em auto;
  display: flex;
  justify-content: center;
  height: 350px;
  position:relative /*per mettere le immagini in stack*/
}

.immaginecarosello visibile{
  object-fit: cover;
  position:absolute; /*per mettere le immagini in stack*/
  border-radius: 2em;
  -webkit-border-radius:2em; /* Safari & Chrome */
  -moz-border-radius:2em; /* Firefox */
  width: 700px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.immaginecarosello nascosto{
  display: none;
}

.nascosto{
  visibility: hidden;
}

.visibile{
  visibility: visible;
}

#breadcrumb{
  margin-top: auto;
  display:block;
}


.mininavbar{
  display: none;
}

header{
  display: none;
}

/* Galleria  */


footer {
  border-top: 1px solid rgb(0, 0, 0); /* Adjust color for print */
  padding-top: 2em;
  width: 100%; /* Full width for print */
  margin: 0; /* Remove margins for print */
  text-align: center;
  position: static;
  max-height: none; /* Reset max-height for print */
  color: #000; /* Adjust text color for print */
}

footer a {
  color: #000; /* Adjust link color for print */
  text-decoration: underline;
  vertical-align: bottom;
}

footer a:visited {
  color: #000; /* Adjust visited link color for print */
}


