* {
  margin:0;
  padding:0;
}
body {
  background: linear-gradient(to bottom, rgba(37, 37, 37, 0.99), #000000);
  font-family: 'Raleway', sans-serif;
}

/*link skip content*/
.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #DDE5FE;
}

.skip-link:focus {
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  overflow: visible;
}

.containerMini{
  display: none;
}

#container {
  position: relative;
  width: 80%;
  margin: 2em auto;
  background-color: rgba(37, 37, 37);
  box-shadow: -2px -2px 5px #93d3f9, 2px -2px 5px #93d3f9;
}

#container > nav {
  width: 100%;
  display: flex;
  max-height: 60px;
  margin-top: -20px;
}

#container > nav > ul {
  background-color: rgba(37, 37, 37);
  padding: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 50px;
}

#container > nav > ul > li {
  line-height: 60px;
  margin: 0 0px;
  padding: 0;
  text-align: center;
  display: inline-block;
  min-width: 120px;
}

#container > nav > ul > li > a {
  position: relative;
  margin: 0 20px;
  color: #dde5fe;
  padding: 10px; /* Aggiungi spazio attorno al testo */
  border-radius: 5px; /* Bordi arrotondati per una migliore estetica */
  transition: background-color 0.3s ease; /* Effetto di transizione per il cambio di colore */
}

#container > nav > ul > li:hover > a {
  color: black; /* Cambia il colore del testo per mantenere il contrasto */
}

#container > nav > ul > li:hover {
  border-bottom: 2px solid #7c7c8a;
  background-color: #7c7c8a;
}
#selected {
    border-bottom: 2px solid #7c7c8a;
    background-color: #7c7c8a;
}
#container > nav > ul > .dropdown:hover {
  border-bottom:none;
}
#container > nav > ul > .dropdown:hover >  .dd
{
  display:block;
}
.dropdown:hover > a .fa-caret-down {
  display:none;
}
a {
  text-decoration:underline;

}

#container > nav > ul > li > div {
  position:absolute;
  padding: 0 10px;
  
  background-color:black;
  display:none;
  background-color:aliceblue;
  min-width:100px;
}

#container > nav > ul > li > div > ul {
  margin:0px 0 10px 0;
  padding:0;
  list-style:none;
}
#content{
    position: relative;
    width: 60%;
    margin: 5% auto;
    color: #DDE5FE;
}

.homecontent{  /* TODO FARLA DIVENTARE CLASSE NO ID */
  text-align: center;
  align-items: center;
  margin: 2em auto; 
  padding: 1em;
  width: 40%;
  margin-top: 2em;
  transition: transform .2s; /* Animation */
  border-radius: 2em;
  -webkit-border-radius:2em; /* Safari & Chrome */
  -moz-border-radius:2em; /* Firefox */
}

.homecontent:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homecontent > p > a{
  text-decoration: underline;
  color: #679839;
}

.homecontent > p{
  color: #DDE5FE;
}

.homecontent > h2{
  padding-bottom: 1em;
  color: #DDE5FE;
}

.homecontent > a > p{
  padding-top: 1em;
  text-decoration: underline;
  color: #679839
}

#logo {
  line-height:60px;
  font-size:30px;
  padding: 0 50px;
  color: #000412;
  width:40%;
  letter-spacing:2px;
  text-shadow:2px 2px 5px;
}


#headerflexbox{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logoflexbox { 
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 1em 0 0 2em;
  padding: 0.5em;
}

.nostylea{
  text-decoration: none;
  color: black;
}

#accountflexbox {
  cursor: pointer;
  border-radius: 1em;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 1em 2em 0 0;
  padding: 0.5em;
}

#accountflexbox > li > h2 {
  cursor: pointer;
  padding-left: 0.2em;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  color: #DDE5FE;
}

.nascosto{
  visibility: hidden;
}

.visibile{
  visibility: visible;
}

.car{
  width: 100%;
  margin: 3em auto;
  display: flex;
  justify-content: center;
  height: 350px;
  position:relative /*per mettere le immagini in stack*/
}

.immaginecarosello{
  cursor: pointer;
  object-fit: cover;
  position:absolute; /*per mettere le immagini in stack*/
  border-radius: 2em;
  -webkit-border-radius:2em; /* Safari & Chrome */
  -moz-border-radius:2em; /* Firefox */
  width: 700px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenitorebottonicar{
  display: flex;
  justify-content: space-between;
  align-self:center;
  position:absolute;
  width: 700px;
}

.bottonecar {
  cursor: pointer;
  text-align: center;
  margin: 0 1em 0 1em;
  background-color: #000412; /* Colore di sfondo con contrasto */
  color: #ffffff; /* Colore del testo con contrasto */
  font-weight: bold;
  border: 1px solid #000412; /* Colore del bordo con contrasto */
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em; /* Per centrare il testo verticalmente */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottonecar:hover {
  background-color: #003366; /* Colore di sfondo al passaggio del mouse con contrasto */
  color: #ffffff; /* Colore del testo al passaggio del mouse con contrasto */
}


.indicecarosello{
  border-radius: 100%;
  width: 1em;
  height: 1em;
  margin: 0.5em;
  background-color: #fff6c1;
  border: 1px solid #ff7b0f;
  cursor: pointer;
}

.indiceattivocar{
  background-color: #ff7b0f;
}

.indicecarosello:hover{
  background-color: #ff7b0f;
}

.playercarosello{
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.playercarosello > li{
  list-style-type: none;
}

.bottonetop{
  cursor: pointer;
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
  background-color: #fff6c1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 5em auto ;
  transition: transform .2s; /* Animation */
}

.bottonetop > img{
  padding-top: 0.5em;
  display: block;
  margin: auto;
}

.bottonetop:hover{
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#breadcrumb{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 1em 0.5em;
  background-color: #ffa500d0; /* Cambiato il colore di sfondo delle briciole di pane */
  border-bottom: 2px solid #0b204c; /* Cambiato il colore del bordo inferiore */
  border-top: 2px solid #0b204c; /* Aggiunto il colore del bordo superiore */
  margin: 4em 0 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}

#breadcrumb p{
  max-width: 1024px;
  margin: auto;
  color: black;
  font-weight: bold;
}

#breadcrumb p > a{
  color: #2B327B;
}

#odd{
    position:relative;
    /*   background-color:red; */
    margin: 0 20px;
    color:#84b304;
}

#u_a_c {
  position:relative;
  width:100%;
/*   background-color:red; */
}
#up_arrow {
  position:relative;
  width:20px;
  height:20px;
  left:42%;
  top:-10px;
  background-color:aliceblue;
  transform:rotate(45deg);
}
#container > nav > ul > li> div > ul > li:hover {
  background-color:rgba(0,0,0,0.2);
}
#container > nav > ul > li > div > ul > li > a {
  padding : 5px;
    color:black;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.submit{
    background-color:#00557f ;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#submit_opera_section{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

#artisti {
  list-style-type: none;
  text-align: center;
  padding-top: 2.0em;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-evenly; /* Adjust this based on your layout preference */
}

#artisti li{
  display: inline-block;
  width: 25%;
  aspect-ratio: 1/1;
  padding: 2.0em;
}

#artisti li a {
  display: block;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1; /* Added aspect ratio */
}

h1{
    font-size: 2em;
    color: #DDE5FE;
    margin: 0.5em;
}

.card {
  display: block;
  width: 20%;
  border-radius: 5px;
  border: 1em solid #93d3f9;
  background-color: #70a1bd;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-body {
    position: relative;
    padding: 0.4em;
    overflow: hidden;
}

.card-body h1{
  color:black;
}

.card-body p{
  color:black;
}



ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

/****************************************************/
/*        OPERE       */
.opere{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  list-style-type: none;
  max-width: 1024px;
  margin: 0 auto;
}

.opere li img {
flex-grow: 1;
object-fit: cover;
max-width: 100%;
height: 15em;
vertical-align: middle;
border-radius: 5px;
border: 12px solid transparent; /*blu fa schifo ma fa vedere che c'è il bordo*/

}
.opere li p,a {
  position: relative;
  padding-bottom: 1em;
  
  }
.opere li  {
 
 padding-bottom: 1em;
    
}
  

.containerOpere img{

width: 200px;
height: 200px;
object-fit: cover;
;

}

.containerOpere > ul> li > h2 {
  color: #DDE5FE;
}

.containerOpere > ul> li > a {
  color: #679839;
}

.containerMini{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  list-style-type: none;
  max-width: 1024px;
  margin: 0 auto;

}

.containerMini li img {
  flex-grow: 1;
  object-fit: cover;
  max-width: 100%;
  height: 15em;
  vertical-align: middle;
  border-radius: 5px;
  border: 12px solid transparent; /*blu fa schifo ma fa vedere che c'è il bordo*/
}

/******* opera_template container **********/
.opera-container dt, .opera-container dd {
  display: block;
 }
 
 .opera-container {
  margin: auto;
  width: 95%;
  max-width: 1024px;
  padding-top: 1em;
  padding-bottom: 2em;
 }
 
.opera-container h1{
  display: flex;
  justify-content: center;
  align-items: center
}

 .opera-container dt {
  background-color: var(--headColor);
  padding: 0.5em;
  font-size: 1.1em;
  border: 1px solid rgb(255,255,255);
 }
 
 .opera-container dd {
  display: flex;
  background-color: var(--bgColor);
  border-top: none;
  padding: 0.5em;
  margin-bottom: 1em;
 }
 
 .opera-container dd img {
  max-width: 300px; /* Adjust as needed */
  max-height: 300px; /* Adjust as needed */
  width: auto;
  height: auto;
  float: left;
  margin-right: 1em;
  border: 1px solid rgb(255, 255, 255); /* Apply the border directly to the image */
 }
 

/** **/

.arrow_back_header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

/** ACCOUNT **/

.bottoneindietro{
  margin: 1em 0 0 1em;
  cursor: pointer;
  transition: transform .2s; /* Animation */
  border-radius: 0.5em;
  height: 2.7em;
  width: 3em;
}

.bottoneindietro > img{
  height: 2.7em;
  width: 3em;
}

.bottoneindietro:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sezioneaccount{
  text-align: left;
  margin: 1em 0 3em 1em;

}

#sezioneaccount > h2{
  color: #DDE5FE;
  margin-left: 2em;
}

#sezioneaccount > h3{
  color: #DDE5FE;
  font-size: 2em;
  margin-left: 1em;
}

#sezioneaccount > ul{
  margin: 0.5em 0 0 2em;
}

#sezioneaccount > ul > li{
  padding-top: 0.2em;
}

#sezioneaccount > ul > li > a{
  text-decoration: underline;
  color: #679839;
}

/**preferiti**/
#sezionePreferiti{
  margin: 1em 1em 3em 1em;
}

.logged_has{
  margin-left: 0.8em;
  font-size: 1.1em;
}

.logged_has > strong{
  font-size: 1.1em;
  color: #FBF50D;
}

.preferiti-container{
  justify-content: center;
  padding: 1em;
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.preferito{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0.3em;
}

.preferito > li > img{
  height: 8em;
  width: 11em;
  margin: 1em;
  object-fit: cover;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0, 0 0 0 0;
}

.descrizione-preferito{
  list-style: none;
  margin-right: 1em;
  overflow: hidden;
  justify-content: center;
}

.descrizione-preferito > li{
  margin: 0.5em  
}

.descrizione-preferito > li > p{
  margin-left: 0.2em  
}
/* sezione account artista */

.rounded_main_container{
  margin: 2em 4em 4em 4em;
  padding-bottom: 2em;
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rounded_main_container > h2{
  padding: 1em;
}

.account_data_section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.account_data_section > ul{
  margin: 0 0 0 1em;
  list-style: none;
}

.account_data_section > ul > li{
  margin-bottom: 0.2em;
}

.account_desc_section{
  margin: 0 2em 0 2em;
}


.logsection {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: transform .2s; /* Animation */
  margin-right: 1em;
}

.logsection > *{
  padding: 0.7em;
  margin: 0.5em;
}

.logsection > li:hover{
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}



/* Upload Opera */

input[type=text], select, textarea{
  width: 100%;
  padding: 14px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.form-container {
  border-radius: 5px;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Tooltip text */
/* 
   EXAMPLE
   <div class="tooltip">Hover over me
   <span class="tooltiptext">Tooltip text</span>
   </div>
*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip > img {
  width: 1em;
  height: 1em;
  margin: 0.25em 0 0 0.25em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #fff6c1;
  padding: 0.5em;
  border-radius: 6px;
  font-weight: lighter;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* login */

.login-error > strong{
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

#form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submit-login{
  margin-bottom: 2em;
}

.avatar_image{
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  margin: 1em;
}

#opere_artista_section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 2em 0 2em;
}

#new_opera_section{
  margin: 0 0 0 3em;
}

.rised_button{
  cursor: pointer;
  background-color: #ff7b0f;
  color: #fff6c1;
  border: none;
  border-radius: 1em;
  padding: 0.8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .2s; /* Animation */
}

.rised_button:hover{
  transform: scale(1.1);
  background-color: #ff8e31;
}

.opera_artista_card{
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1em;
  height: 12em;
  width: 8em;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .2s; 
  cursor: pointer;
}

.opera_artista_card:hover{
  transform: scale(1.1);
}

.opera_artista_card > p{
  margin-top: 0.2em;
}

.opera_artista_card > img{
  height: 8em;
  width: 8em;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}

/* Upload Opera */
#text_data_opera{
  margin-left: 2em;
}

#text_data_opera > div > p{
  font-weight: bold;
}



#text_data_opera > div{
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
}

#text_data_opera > div > span{
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#text_data_opera > div > textarea{
  height: 7em;
}

#opera_picker{
 margin: 1em 0 0 2em;
}

.textbox{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5em;
  margin: 1em;
  transition: transform .2s; 
}

.textbox:focus{
  outline: none;
  transform: scale(1.1);
}

/*

  aggiungere tasto info a desc e desc abbreviata

*/



/****************************************************/
/*                     ARTISTI       */
/****************************************************/

#maincontent dl {
  color: #DDE5FE;
}

.artist-container {
  margin: auto;
  width: 95%;
  max-width: 1024px;
  padding-top: 1em;
  padding-bottom: 2em;
}

.artist-container > dt {
  padding: 0.5em;
  font-size: 1.1em;
}

.artist-container > dd {
  display: flex;
  border-top: none;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid rgb(255, 255, 255);
}

.artist-container > dd img {
  max-width: 300px; /* Adjust as needed */
  max-height: 300px; /* Adjust as needed */
  width: auto;
  height: auto;
  float: left;
  margin-right: 1em;
  border: 1px solid rgb(255, 255, 255); /* Apply the border directly to the image */
}

.artist-container > dd:first-of-type {
  border: none;
}

.artist-container > dd:last-of-type {
  border: none;
}
#artist-image {
  max-width: 300px;
  height: auto; /* Allow the height to adjust according to the image */
  border-radius: 5%;
  margin-right: 2em; /* Adjust margin as needed */
}




#artist-image {
  max-width: 300px;
  height: auto; /* Allow the height to adjust according to the image */
  border-radius: 5%;
  margin-right: 2em; /* Adjust margin as needed */
}

.artist-info {
  width: 60%;
}



/* Additional styles for artist-info */
.artist-info h3, .artist-info p,  .artist-description p {
  margin-bottom: 0.4em;
}

h4{
  font-size: 1.4em;
  color: rgb(0, 0, 0);
  margin-left: 1.5em;
  margin-top: 0.5em;

}

ul.artist-works{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 1em;
  list-style-type: none;
}

.artist-works li{
  display: inline-block;
  width: 25%;
  padding: 1em;
}


.artist-works li a {
  display: block;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1; /* Added aspect ratio */
}


.footerContent{
    border-top: 1px solid black;
    padding-top: 2em;
    width: 60%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    color: #DDE5FE;
}

.footerContent a {
  color: #679839; /* Sostituisci con il colore desiderato */
  text-decoration: underline; /* Aggiungi sottolineatura per evidenziare che sono link */
}
.footerContent a:selected {
  color: #DDE5FE; /* Cambia il colore quando il link viene selezionato */
}

#opera-image {
  max-width: 100%; /* Set the maximum width to 100% of its container */
  max-height: 600px;
  height: auto; /* Allow the height to adjust according to the width */
  display: block; /* Remove extra space below the image */
  margin: auto; /* Center the image horizontally */
}

#opera-info{
  margin: 2em;
}

/***********CONTATTI**************/
.label{
  color: #DDE5FE;
  font-size: 1.2em;
}
/*********************************/
.navbar{
  display: none;
}

.error-505 {
  background-color: #000412;
  color: #DDE5FE;
  font-size: 16px;
}

.error-404 {
  text-align: center;
}
.message-404{
  color: #DDE5FE;
}
.error-404 > h1 {
  color: #ff7b0f;
  font-size: 6em;
}

.error-404 > p {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.error-404 > a {
  font-size: 1.3em;
  color: #679839;
}


.error-container {
  text-align: center;
  padding: 50px;
}

.error-title {
  font-size: 3em;
  margin-bottom: 20px;
}

.error-message {
  font-size: 1.2em;
}